<h1><%= @show.name %></h1>
<% unless @show.reviews.empty? %>
  <% @show.reviews.each do |review| %>
    <% user = @users.detect { |user| user.id == review.user_id } %>
    <p><%= review.content %> by <a href='/users/<%= user.id %>'><%= user.username %></a></p>
    <% if user == current_user %>
      <div class='current_user_actions_review_<%=review.id%>'>
        <a href='/reviews/<%= review.id %>/edit'>edit review</a>
        <form method="POST" action="/reviews/<%= review.id %>/delete">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="delete" value="delete review">
        </form>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><%= @show.name %> has no reviews!</p>
<% end %>

<%= if logged_in? %>
<p>Add a review!</p>
  <% if @error %>
    <p><%=@error%></p>
  <% end %>
  <form method="POST" action="/reviews">
    <input type="hidden" name="show_id" value="<%=@show.id%>">
    <input type="text" name="content">
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="submit">
  </form>
<% else %>
  <p>Log in to add a review!</p>
<% end %>